<!-- 头部 -->
{include file="common/header" /}

<article>
    <!-- 图 -->
    <div><img src="__IMAGE__/Home/index_01.jpg" alt=""></div>
    <div><img src="__IMAGE__/Home/index_02.jpg" alt=""></div>
    <div><img src="__IMAGE__/Home/index_03.jpg" alt=""></div>
    <div><img src="__IMAGE__/Home/index_04.jpg" alt=""></div>
    <div><img src="__IMAGE__/Home/index_05.jpg" alt=""></div>
    <div><img src="__IMAGE__/Home/index_06.jpg" alt=""></div>
    <div><img src="__IMAGE__/Home/index_07.jpg" alt=""></div>
    <div><img src="__IMAGE__/Home/index_08.jpg" alt=""></div>
    <div><img src="__IMAGE__/Home/index_09.jpg" alt=""></div>
    <div><img src="__IMAGE__/Home/index_10.jpg" alt=""></div>
    <div><img src="__IMAGE__/Home/index_11.jpg" alt=""></div>
    <div><img src="__IMAGE__/Home/index_12.jpg" alt=""></div>
    <div><img src="__IMAGE__/Home/index_13.jpg" alt=""></div>
    <div><img src="__IMAGE__/Home/index_14.jpg" alt=""></div>
    <div><img src="__IMAGE__/Home/index_15.jpg" alt=""></div>
    <div><img src="__IMAGE__/Home/index_16.jpg" alt=""></div>
    <div><img src="__IMAGE__/Home/index_17.jpg" alt=""></div>
    <div><img src="__IMAGE__/Home/index_18.jpg" alt=""></div>
    <div><img src="__IMAGE__/Home/index_19.jpg" alt=""></div>
    <div><img src="__IMAGE__/Home/index_20.jpg" alt=""></div>
    <div><img src="__IMAGE__/Home/index_21.jpg" alt=""></div>
    <div><img src="__IMAGE__/Home/index_22.jpg" alt=""></div>
    <div><img src="__IMAGE__/Home/index_23.jpg" alt=""></div>
    <div><img src="__IMAGE__/Home/index_24.jpg" alt=""></div>
    <div><img src="__IMAGE__/Home/index_25.jpg" alt=""></div>

    {include file="common/message" /}

</article>

<!-- 底部 -->
{include file="common/footer" /}
